@import url('https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@700&display=swap');
:root {
    font-size:12px;
    color: #707070;
}

body {
    font-family: 'Ubuntu',sans-serif;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between
}


header {
    background-color: #f8f8f8;
    padding: 2em 0;
}

@media (max-width: 675px) {

    header {
        text-align: center;
    }

    .container-nav {
        flex-direction: column;
    }
}

img {
    width: 100%;
}

/* =======================================
Typography
=========================================*/
h1 {
    color: #143774;
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    font-family: 'Lora', serif;
}

.subtitle,
a {
    font-weight: 700;
    text-transform: uppercase;
}

.subtitle {
    color: #1792d2;
    font-size: .75rem;
    margin-top: 0;
}
span {
    font-weight: 700;
    color: inherit;
}

p {
    font-weight: 400;
}

/* =======================================
Navigation
=========================================*/

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: inherit;
    padding: .25em 0;
}

nav a:hover,
nav a:focus {
    border-bottom: 2.5px solid;
    color: #1792d2;
}

.current-page {
     border-bottom: 2.5px solid;
}

.current-page:hover {
    color: inherit;
    cursor: default;
}

@media (max-width: 675px) {

   nav ul {
       flex-direction: column;
   }

   nav li {
       margin: .5em 0;
   }
}

/* reference: 
https://xd.adobe.com/spec/75d448ea-569a-4b7e-721b-9bbd3b2b97b9-03e5/grid/ */
